body
{
    width: auto;
}
header
{
    flex-wrap: wrap-reverse;
}

main,
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#filter
{
    display: flex;
    flex-wrap: wrap;
}

#section1
{
    display: flex;
    flex-direction: column-reverse;
}

#housing
{
    display: flex;
    flex-direction: column;
}

#section2
{
    display: flex;
    flex-direction: column;
}

#activity
{
    display: flex;
    flex-direction: column;
}

footer
{

    display: flex;
    flex-direction: column;
}